#header {
    padding: 10px;
    text-align: center;
    background-color: #eee5ee;
    color: #2f2626;
}

table {
    width: 500px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}